html {
    font-size: 16px;
}

body {
    background-color: #a4b0be;
}
body::-webkit-scrollbar {  
    display: none;
}  
tr,
th,
td {
    padding: 10px !important;
    border-color: black !important;
}

tr:nth-child(even) {
    background-color: rgb(189, 188, 188) !important;
}
input {
    margin: 20px 0;
}

table {
    width: 100%;
    white-space: nowrap;
    background-color: whitesmoke !important;
}

th {
    width: 3rem;
}

td:nth-child(even) {
    width: 4rem;
    padding: 0 !important;
}

td:nth-child(3) {
    width: 5rem;
}

button {
    width: 4rem;
    height: 2.5rem;
}
a {
    text-decoration: none;
    color: black;
    height: 40px;
    display: block;
}
hr{
    margin: 10px 0;
}
.nav-link{
    line-height: 40px;
    margin: 0;
    padding: 0;
}
a.nav-link i{
    margin: 0;
    padding: 0;
}
#nav ul{
    margin-left: 5px;
}
i{
    margin-left: 10px;
}
@media screen and (min-width:1071px){
    /* left sidebar start*/
    aside {
        width: 270px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #222222;
        position: fixed;
        top: 0;
        left: 0;
    }
    aside li {
        display: flex;
        border-bottom: 1px solid gray;
        margin: 0 10px 0 24px;
    }
    aside a, nav a {
        height: auto;
    }
    .modal-content {
        width: 500px;
    }
    .modal-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #rvgModal #egt2 h5 {
        line-height: 25px;
        text-align: center;
        font-size: 18px;
    }
    #rvgModal #rvg2, #egt2 {
        width: 200px;
        padding: 10px;
        text-align: center;
        background-color: whitesmoke;
        border: 1px solid gray;
        border-radius: 10px;
    }
    #rvgModal #rvg2 p, #egt2 p {
        display: block;
        line-height: 30px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    #rvgModal #rvg2 p { margin: 20px 0;}
    #rvgModal #egt2 p { margin: 5px 0;}

    #büyüteçModal #büyüteçTextarea {
        width: 460px;
        max-width: 490px;
        min-height: 200px;
        margin-bottom: 3px;
    }
    /* Left sidebar end */
    /* top navbar */
    #nav {display: none;}
    /* main */
    main { margin-left: 270px;}
    .container-cari {
        width: 100% !important;
    }
    .cari-content{
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width:1071px){
    aside{display: none;}
    /* Left sidebar end */
    /* top navbar */
    #nav{
        min-height: 35px;
        display: block !important;
        background-color: #222222;
    }
    #nav li{
        font-size: 13px;
        border-left: 1px solid #555;
        margin-left: 5px;
    }
    #nav a{
        /* line-height: 40px; */
        padding: 0;
    }
    .modal-content {
        width: 500px;
    }
    .modal-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #rvgModal #egt2 h5 {
        line-height: 25px;
        text-align: center;
        font-size: 18px;
    }
    #rvgModal #rvg2, #egt2 {
        width: 200px;
        padding: 10px;
        text-align: center;
        background-color: whitesmoke;
        border: 1px solid gray;
        border-radius: 10px;
    }
    #rvgModal #rvg2 p, #egt2 p {
        display: block;
        line-height: 30px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    #rvgModal #rvg2 p { margin: 20px 0;}
    #rvgModal #egt2 p { margin: 5px 0;}

    #büyüteçModal #büyüteçTextarea {
        width: 460px;
        max-width: 490px;
        min-height: 200px;
        margin-bottom: 3px;
    }
    /* Left sidebar end */
    /* top navbar */
    #nav {display: none;}
    /* main */
    main { margin-top: 78px;}
    .container-cari {
        width: 100% !important;
    }
    .cari-content{
        width: 100%;
    }
}