a {
    text-decoration: none;
    color: black;
    height: 40px;
    display: block;
}
hr{
    margin: 10px 0;
}
.nav-link{
    line-height: 40px;
    margin: 0;
    padding: 0;
}
a.nav-link i{
    margin: 0;
    padding: 0;
}
#nav ul{
    margin-left: 5px;
}

@media screen and (min-width:1150px){
    body{
        display: flex;
    }
    /* left sidebar start*/
    aside {
        width: 270px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #222222;
        position: fixed;
        top: 0;
        left: 0;
    }
    aside li {
        display: flex;
        border-bottom: 1px solid gray;
        margin: 0 10px 0 24px;
    }
    aside a, nav a {
        height: auto;
    }
    .modal-content {
        width: 500px;
    }
    .modal-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #rvgModal #egt2 h5 {
        line-height: 25px;
        text-align: center;
        font-size: 18px;
    }
    #rvgModal #rvg2, #egt2 {
        width: 200px;
        padding: 10px;
        text-align: center;
        background-color: whitesmoke;
        border: 1px solid gray;
        border-radius: 10px;
    }
    #rvgModal #rvg2 p, #egt2 p {
        display: block;
        line-height: 30px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    #rvgModal #rvg2 p { margin: 20px 0;}
    #rvgModal #egt2 p { margin: 5px 0;}

    #büyüteçModal #büyüteçTextarea {
        width: 460px;
        max-width: 490px;
        min-height: 200px;
        margin-bottom: 3px;
    }
    /* Left sidebar end */
    /* top navbar */
    #nav {display: none;}
    /* main */
    main { margin-left: 270px;}
    input{
        float: right;
        width: 300px;
        margin: 5px 0;
    }
    .container{
        width: 350px;
        height: 306px;
        margin: 105px 0 0 30px;
        border: 2px solid #999;
        border-collapse: collapse;
        padding: 15px;
    }
    .container.header{
        padding: 16px 16px 5px;
        border-bottom: 1px solid #555;
        margin-bottom: 5px;
    }
    .container .header h5{
        color: #212529;    
    }
    .container .content{
        display: flex;
        flex-direction: column;
    }
    .container .content form {
        display: flex;
        flex-direction: row;
    }
    .container .content .formContent{
        display: flex;
        flex-direction: column;
        margin: 0 5px;
    }
    .container .content .formContent p{
        float: left;
        line-height: 48px;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
    .container .content form div.form-group{
        display: flex;
        flex-direction: column;    
    }
    .unselectable{
        user-select: none;
    }
    section{
        width: 90%;
        margin: 0 40px;
    }
    section div.container2{
        margin: 0 0 10px 10px;
    }
    section div table#pano2,tr,td,th{
        border: 1px solid #999;
        border-collapse: collapse;
    }
    section div table#pano2 tr{
        height: 41.2px;
    }
    section div table#pano2 td, th{
        padding: 5px;
        height: 41.2px;
    }    
    #pano2 th:nth-child(3){
        min-width: 300px;
    }
    #pano2 th:nth-child(4){
        min-width: 200px;
    }
    #pano2 th:nth-child(5){
        min-width: 92px;
    }
    #pano2 th:nth-child(6){
        min-width: 32px;
    }
}
@media screen and (min-width: 870px) and (max-width:1150px){
    body{
        display: flex;
        flex-direction: column;
    }
    aside{display: none;}
    /* Left sidebar end */
    /* top navbar */
    #nav{
        min-height: 35px;
        display: block !important;
        background-color: #222222;
    }
    #nav li{
        font-size: 13px;
        border-left: 1px solid #555;
        margin-left: 5px;
    }
    #nav a{
        /* line-height: 40px; */
        padding: 0;
    }
    .modal-content {
        width: 500px;
    }
    .modal-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #rvgModal #egt2 h5 {
        line-height: 25px;
        text-align: center;
        font-size: 18px;
    }
    #rvgModal #rvg2, #egt2 {
        width: 200px;
        padding: 10px;
        text-align: center;
        background-color: whitesmoke;
        border: 1px solid gray;
        border-radius: 10px;
    }
    #rvgModal #rvg2 p, #egt2 p {
        display: block;
        line-height: 30px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    #rvgModal #rvg2 p { margin: 20px 0;}
    #rvgModal #egt2 p { margin: 5px 0;}

    #büyüteçModal #büyüteçTextarea {
        width: 460px;
        max-width: 490px;
        min-height: 200px;
        margin-bottom: 3px;
    }
    /* Left sidebar end */
    /* top navbar */
    #nav {display: none;}
    /* main */
    main { margin-top: 78px;}
    input{
        float: right;
        width: 300px;
        margin: 5px 0;
    }
    .container{
        width: 350px;
        height: 306px;
        margin: 40px 0 0 40px;
        border: 2px solid #999;
        border-collapse: collapse;
        padding: 15px;
    }
    .container.header{
        padding: 16px 16px 5px;
        border-bottom: 1px solid #555;
        margin-bottom: 5px;
    }
    .container .header h5{
        color: #212529;    
    }
    .container .content{
        display: flex;
        flex-direction: column;
    }
    .container .content form {
        display: flex;
        flex-direction: row;
    }
    .container .content .formContent{
        display: flex;
        flex-direction: column;
        margin: 0 5px;
    }
    .container .content .formContent p{
        float: left;
        line-height: 48px;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
    .container .content form div.form-group{
        display: flex;
        flex-direction: column;    
    }
    .unselectable{
        user-select: none;
    }
    section{
        width: 90%;
        margin: 0 40px;
    }
    section div.container2{
        margin: 0 0 10px 10px;
    }
    section div table#pano2,tr,td,th{
        border: 1px solid #999;
        border-collapse: collapse;
    }
    section div table#pano2tr{
        height: 41.2px;
    }
    section div table#pano2td, th{
        padding: 5px;
        height: 41.2px;
    }
    #pano2 th:nth-child(3){
        min-width: 300px;
    }
    #pano2 th:nth-child(4){
        min-width: 200px;
    }
    #pano2 th:nth-child(5){
        min-width: 92px;
    }
    #pano2 th:nth-child(6){
        min-width: 32px;
    }
}
@media screen and (max-width:870px){
    body{
        display: flex;
        flex-direction: column;
    }
    aside{display: none;}
    /* Left sidebar end */
    /* top navbar */
    #nav{
        min-height: 35px;
        display: block !important;
        background-color: #222222;
    }
    #nav li{
        font-size: 13px;
        border-left: 1px solid #555;
        margin-left: 5px;
    }
    #nav a{
        /* line-height: 40px; */
        padding: 0;
    }
    .modal-content {
        width: 500px;
    }
    .modal-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #rvgModal #egt2 h5 {
        line-height: 25px;
        text-align: center;
        font-size: 18px;
    }
    #rvgModal #rvg2, #egt2 {
        width: 200px;
        padding: 10px;
        text-align: center;
        background-color: whitesmoke;
        border: 1px solid gray;
        border-radius: 10px;
    }
    #rvgModal #rvg2 p, #egt2 p {
        display: block;
        line-height: 30px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    #rvgModal #rvg2 p { margin: 20px 0;}
    #rvgModal #egt2 p { margin: 5px 0;}

    #büyüteçModal #büyüteçTextarea {
        width: 460px;
        max-width: 490px;
        min-height: 200px;
        margin-bottom: 3px;
    }
    /* Left sidebar end */
    /* top navbar */
    #nav {display: none;}
    /* main */
    main { margin-top: 78px;}
    input{
        float: right;
        width: 300px;
        margin: 5px 0;
    }
    .container{
        width: 350px;
        height: 306px;
        margin: 5px auto;
        border: 2px solid #999;
        border-collapse: collapse;
        padding: 15px;
    }
    .container.header{
        padding: 16px 16px 5px;
        border-bottom: 1px solid #555;
        margin-bottom: 5px;
    }
    .container .header h5{
        color: #212529;    
    }
    .container .content{
        display: flex;
        flex-direction: column;
    }
    .container .content form {
        display: flex;
        flex-direction: row;
    }
    .container .content .formContent{
        display: flex;
        flex-direction: column;
        margin: 0 5px;
    }
    .container .content .formContent p{
        float: left;
        line-height: 48px;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }
    .container .content form div.form-group{
        display: flex;
        flex-direction: column;    
    }
    .unselectable{
        user-select: none;
    }
    section{
        width: 100%;
        margin: 5px 3px;
    }
    section div.container2{
        margin: 0 0 10px 0;
    }
    section div table#pano2,tr,td,th{
        border: 1px solid #999;
        border-collapse: collapse;        
    }
    section div table#pano2 tr{
        height: 41.2px;
    }
    section div table#pano2 td, th{
        padding: 1px;
        height: 41.2px;
        font-size: 14px;
    }
    #pano2 th:nth-child(3){
        min-width: 180px;
    }
    #pano2 th:nth-child(4){
        min-width: 120px;
    }
    #pano2 th:nth-child(5){
        min-width: 75px;
    }
    #pano2 th:nth-child(6){
        min-width: 32px;
    }
    section div.form-control{
        padding: 0 !important;
    }
}