body {
    position: relative;
}
body::-webkit-scrollbar {  
    display: none;
}  
.none {
    display: none;
}
.accordion{
    min-width: 1115px;
}
.accordion-collapse{
    background-color: #ddd;
}
header {
    display: flex;
    height: 10vh;
    min-height: 60px;
    text-align: center;
    background-color: #a4b0be;
}
header h1 {
    margin: auto;
    justify-self: center;
}
form {
    width: 90%;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    margin: 10px;
    background-color: #edeeee;
}
.imgContainer{
    overflow: hidden;
}
.imgContainer img {
    width: 238px;
    height: 238px;
}
.card-body {
    padding: 5px 16px;
}
.container{
    display: flex;
}
table.form-control{
    padding: 0;
}
#panoButtons{
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
#panoButtons h1{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pano{
    width: 500px;
    min-height: 55px;
    max-height: 200px;
    overflow: scroll;
    margin: 10px 0;
    padding: 0px;
}
table#pano,tr,th,td{
    border: 1px solid #999;
    border-collapse: collapse;
}
table#pano tr{
    height: 40px;
}
table#pano th:nth-child(1){
    min-width: 200px;
}
table#pano th:nth-child(2){
    min-width: 150px;
}
table#pano th:nth-child(3){
    min-width: 50px;
}
input[type="number"]{
    width: 60px;
}
.card-text {
    padding: 10px 5px;
    margin: 0;
}
.alertText {
    position: absolute;
    z-index: -1;
}
.imgContainer{
    position: relative;
    overflow: hidden;
}
.hoverAlert:hover div.alertText {
    z-index: 0;
    top: 155px;
    right: 0px;
}
.normal-zoom {
    transform: scale(1);
    cursor: zoom-in;
    transition: transform 50ms;
} 
.zoom-in {
    transform: scale(1.6);
    cursor: zoom-out;
    transition: transform 50ms;
}
.panoContainer{
    width: 80%;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: black;
    height: 40px;
    display: block;
}
hr{
    margin: 10px 0;
}
.nav-link{
    line-height: 40px;
    margin: 0;
    padding: 0;
}
a.nav-link i{
    margin: 0;
    padding: 0;
}
#nav ul{
    margin-left: 5px;
}
@media screen and (min-width:1199px){
    /* left sidebar start*/
    aside {
        width: 270px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #222222;
        position: fixed;
        top: 0;
        left: 0;
    }
    aside li {
        display: flex;
        border-bottom: 1px solid gray;
        margin: 0 10px 0 24px;
    }
    aside a, nav a {
        height: auto;
    }
    .modal-content {
        width: 500px;
    }
    .modal-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #rvgModal #egt2 h5 {
        line-height: 25px;
        text-align: center;
        font-size: 18px;
    }
    #rvgModal #rvg2, #egt2 {
        width: 200px;
        padding: 10px;
        text-align: center;
        background-color: whitesmoke;
        border: 1px solid gray;
        border-radius: 10px;
    }
    #rvgModal #rvg2 p, #egt2 p {
        display: block;
        line-height: 30px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }
    #rvgModal #rvg2 p { margin: 20px 0;}
    #rvgModal #egt2 p { margin: 5px 0;}

    #büyüteçModal #büyüteçTextarea {
        width: 460px;
        max-width: 490px;
        min-height: 200px;
        margin-bottom: 3px;
    }
    /* Left sidebar end */
    /* top navbar */
    #nav {display: none;}
    /* main */
    main { width: 100%; margin-left: 270px;}
    .accordion{
        min-width: 80%;
    }
}
@media screen and (min-width:1030px) and (max-width:1199px){
    aside{display: none;}
    /* Left sidebar end */
    /* top navbar */
    #nav{
        min-height: 35px;
        display: block;
        background-color: #222222;
    }
    #nav li{
        font-size: 13px;
        border-left: 1px solid #555;
        margin-left: 5px;
    }
    #nav a{
        /* line-height: 40px; */
        padding: 0;
    }
    main { width: 100%; margin-top: 58px;}
    .accordion{
        min-width: 450px;
    }
    #panoButtons{
        width: 100px;
        align-items: flex-start;
    }
    #pano{
        padding: 0%;
    }
    .panoContainer{
        width: 100%;
    }
}
@media screen and (max-width:1030px){
    aside{display: none;}
    /* Left sidebar end */
    /* top navbar */
    #nav{
        min-height: 35px;
        display: block;
        background-color: #222222;
    }
    #nav li{
        font-size: 13px;
        border-left: 1px solid #555;
        margin-left: 5px;
    }
    #nav a{
        /* line-height: 40px; */
        padding: 0;
    }
    main { width: 100%; margin-top: 58px;}

    .accordion{
        min-width: 450px;
    }
    #panoButtons{
        width: 100px;
        align-items: flex-start;
    }
    #pano{
        padding: 0%;
    }
    .panoContainer{
        width: 100%;
    }
}