body {
    overflow: hidden;
}

.none {
    display: none;
}

hr {
    margin: 10px 0;
}

a {
    text-decoration: none;
}

.nav-active {
    background-color: #e83030;
    border-radius: 0 0 0 10px;
}

@media screen and (min-width:1px) {

    /* left sidebar start*/
    aside {
        width: 270px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: #222222;
        position: fixed;
        top: 0;
        left: -260px;
    }

    aside:hover {
        left: 0px;
    }

    aside li {
        display: flex;
        border-bottom: 1px solid gray;
        margin: 0 10px 0 24px;
    }

    .nav-link {
        padding-left: 0;
    }

    aside a {
        height: auto;
        width: 100%;
    }

    .modal-body {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    main {
        width: 100%;
        justify-content: center;
    }

    .carouselContainer {
        width: 750px;
        height: 400px;
        align-self: center;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .carouselContainer img {
        width: 650px;
        height: 400px;
        border: 1px solid #777;
        border-radius: 4px;
        padding: 5px;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }

    #svg1 {
        display: unset;
    }

    #svg2 {
        display: none;
    }

    #innovations {
        width: 80%;
        height: 100px;
        margin: 75px auto;
    }

    #innovations marquee {
        width: 100%;
        height: 100px;
        border: 1px solid #777;
        border-radius: 5px;
        padding: 0 20px;
    }

    iframe {
        width: 100%;
        height: 100vh;
    }
}

@media screen and (min-width:768px) and (max-width:1136px) {
    .carouselContainer {
        width: 750px;
        height: 400px;
        align-self: center;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .carouselContainer img {
        width: 650px;
        height: 400px;
        border: 1px solid #777;
        border-radius: 4px;
        padding: 5px;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }

    #svg1 {
        display: unset;
    }

    #svg2 {
        display: none;
    }

    #innovations {
        width: 80%;
        height: 100px;
        margin: 75px auto;
    }

    #innovations marquee {
        width: 100%;
        height: 100px;
        border: 1px solid #777;
        border-radius: 5px;
        padding: 0 20px;
    }

    iframe {
        width: 100%;
        height: 100vh;
    }
}

@media screen and (max-width:768px) {
    .carouselContainer {
        width: 480px;
        height: 350px;
        margin: auto;
        align-self: center;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .carouselContainer img {
        width: 460px;
        height: 360px;
        border: 1px solid #777;
        border-radius: 4px;
        padding: 5px;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }

    #svg1 {
        display: none;
    }

    #svg2 {
        display: none;
    }

    #innovations {
        width: 80%;
        height: 100px;
        margin: 20px auto;
    }

    #innovations marquee {
        width: 100%;
        height: 100px;
        border: 1px solid #777;
        border-radius: 5px;
        padding: 0 20px;
    }

    iframe {
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-height:650px) and (max-width:1136px) {
    .carouselContainer {
        width: 500px;
        height: 400px;
        align-self: center;
        border-collapse: collapse;
        margin-top: 3px;
    }

    .carouselContainer img {
        width: 460px;
        height: 400px;
        border: 1px solid #777;
        border-radius: 4px;
        padding: 5px;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.8) !important;
    }

    #svg1 {
        display: none;
    }

    #svg2 {
        display: none;
    }

    #innovations {
        width: 80%;
        height: 80px;
        margin: auto;
    }

    #innovations marquee {
        width: 100%;
        height: 80px;
        border: 1px solid #777;
        border-radius: 5px;
        padding: 0 20px;
    }

    iframe {
        width: 100%;
        height: 100vh;
    }
}

@media screen and (max-height:650px) and (min-width:1136px) {

    #innovations {
        width: 80%;
        height: 100px;
        margin: 15px auto;
    }

    #innovations marquee {
        width: 100%;
        height: 100px;
        border: 1px solid #777;
        border-radius: 5px;
        padding: 0 20px;
    }

    iframe {
        width: 100%;
        height: 100vh;
    }
}