* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin-bottom: 100px;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
}

main header {
  min-height: 60px;
  text-align: center;
  background-color: #a4b0be;
}

main header h1 {
  line-height: 10vh;
  margin: 0;
}

main .container .search-bar .input-group {
  padding: 5px 0;
}

main .container .search-bar .input-group label {
  width: 15%;
}

main .container .search-bar .input-group form {
  width: 85%;
}

main .container .search-bar .input-group form input {
  margin: 0;
}

main .container .panoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

main .container .panoContainer .panoButtons h1 {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main .container .panoContainer table {
  width: 100%;
  max-height: 200px;
  border: 1px solid #999;
  border-collapse: collapse;
  overflow: scroll;
}

main .container .panoContainer table tr,
main .container .panoContainer table th,
main .container .panoContainer table td {
  height: 40px;
  border: 1px solid #999;
  border-collapse: collapse;
}

main .container .panoContainer table thth:nth-child(1) {
  width: 25%;
}

main .container .panoContainer table th:nth-child(2) {
  width: 45%;
}

main .container .panoContainer table th:nth-child(3) {
  width: 10%;
}

main .container .accordion .accordion-body {
  background-color: #ddd;
  padding: 5px 0;
}

main .container .accordion .accordion-body .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .container .accordion .accordion-body .flex .card {
  width: 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #edeeee;
  margin-bottom: 5px;
}

main .container .accordion .accordion-body .flex .card .imgContainer {
  position: relative;
  overflow: hidden;
}

main .container .accordion .accordion-body .flex .card .imgContainer img {
  width: 228px;
  height: 228px;
}

main .container .accordion .accordion-body .flex .card input[type="number"] {
  width: 60px;
  margin-left: 5px;
}

main .container .accordion .accordion-body .flex .card .card-text {
  padding: 10px 5px;
  margin: 0;
}

main .container .accordion .accordion-body .flex .card .alertText {
  position: absolute;
  z-index: -1;
}

main .container .accordion .accordion-body .flex .card .hoverAlert:hover div.alertText {
  z-index: 0;
  top: 155px;
  right: 0px;
}

main .container .accordion .accordion-body .flex .card .normal-zoom {
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: -webkit-transform 50ms;
  transition: -webkit-transform 50ms;
  transition: transform 50ms;
  transition: transform 50ms, -webkit-transform 50ms;
}

main .container .accordion .accordion-body .flex .card .zoom-in {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  -webkit-transition: -webkit-transform 50ms;
  transition: -webkit-transform 50ms;
  transition: transform 50ms;
  transition: transform 50ms, -webkit-transform 50ms;
}
/*# sourceMappingURL=style.css.map */