* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  margin-bottom: 100px;
  &::-webkit-scrollbar {
    display: none;
  }
}
main {
  width: 100%;
  header {
    min-height: 60px;
    text-align: center;
    background-color: #a4b0be;
    h1 {
      line-height: 10vh;
      margin: 0;
    }
  }
  .container {
    .search-bar {
      .input-group {
        padding: 5px 0;
        label {
          width: 15%;
        }
        form {
          width: 85%;
          input {
            margin: 0;
          }
        }
      }
    }
    .panoContainer {
      display: flex;
      margin: 5px 0;
      .panoButtons {
        h1 {
          font-size: 40px;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
        }
      }
      table {
        width: 100%;
        max-height: 200px;
        border: 1px solid #999;
        border-collapse: collapse;
        overflow: scroll;
        tr,
        th,
        td {
          height: 40px;
          border: 1px solid #999;
          border-collapse: collapse;
        }
        th {
          &th:nth-child(1) {
            width: 25%;
          }
          &:nth-child(2) {
            width: 45%;
          }
          &:nth-child(3) {
            width: 10%;
          }
        }
      }
    }
    .accordion {
      .accordion-body {
        background-color: #ddd;
        padding: 5px 0;
        .flex {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          .card {
            width: 230px;
            box-sizing: border-box;
            background-color: #edeeee;
            margin-bottom: 5px;
            .imgContainer {
              position: relative;
              overflow: hidden;
              img {
                width: 228px;
                height: 228px;
              }
              .normal-zoom {
                transform: scale(1);
                cursor: zoom-in;
                transition: transform 50ms;
              }
              .zoom-in {
                transform: scale(1.6);
                cursor: zoom-out;
                transition: transform 50ms;
              }
            }
            .card-body {
              padding: 0;
            }
            input[type="number"] {
              width: 60px;
              margin-left: 5px;
            }
            .card-text {
              padding: 10px 5px;
              margin: 0;
            }
            .alertText {
              position: absolute;
              z-index: -1;
            }
            .hoverAlert:hover div.alertText {
              z-index: 0;
              top: 146px;
              right: 0px;
            }
          }
        }
      }
    }
  }
}
